

h2
  span#first_name etu
  |  
  span#last_name suku

pre

form

  p#blog.propose
    label(for='blog') Blog
    input(type="text")
    button.ok ok
    button.bad bad

  p#twitter.propose
    label(for='twitter') Twitter
    input(type="text")
    button.ok ok
    button.bad bad

  p#facebook.propose
    label(for='facebook') Facebook
    input(type="text")
    button.ok ok
    button.bad bad

  button#next Next





